/* src/styles/BucketStatus.css */
.bucket-status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bucket-status h2 {
    margin-bottom: 20px;
  }
  
  .bucket-status p {
    font-size: 18px;
  }
  